.header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b1d2a;
    color: #ffffff;
    text-align: center;
    padding: 5px;
  }
  .title{
    width: 25%;
  }
  .menu{
    width: 55%;
  }
  .cart-icon{
    width: 20%;
  }
  .cart{
    height: 100px;
    width: 50px;
    cursor: pointer;
    float: right;
    color: #ffffff;
  }
.count{
  position: absolute;
  top: 45px;
  right: 0px;
  background-color: #ff5722;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 50%;
}